<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/new"><button>Compose New Message</button></a>
        <ul>
            <% for(let i = 0; i < messages.length; i++){ %>
                <li>
                    <div class="message-head">
                        <strong> <%= messages[i].user %></strong>
                        <a class="message-view" href="message/<%=messages[i].id%>">view</a>
                    </div>
                    <p class="message-message"><%= messages[i].text %></p>
                    <p class="message-details-date"><%= messages[i].added %> &nbsp; at &nbsp; <%= messages[i].time %> </p>

                 
        
                </li>
            <% } %>
        </ul>
    </body>
</html>