<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <link rel="icon" href="/images/creeper_face_pfp.png" type="image/png">
            <h1 class="index-title"><%= title %></h1>
        </header>

            <nav>
                <a href="/new">
                    create_new >>
                </a>
            </nav>

        <hr>
    
        <ul>
            <% for(let i = 0; i < messages.length; i++){ %>
                <li>
                <div class="blog-card-index">
                    <div class="index-header">
                        <img class="index-profile-pfp" src="/images/creeper_face_pfp.png" alt="">
                        <strong class="index-username"> <%= messages[i].username %></strong>
                    </div>
                    <img class="message-thumbnail" src="<%= messages[i].image_url %>" alt="">
                    <p class="message-blog-title"><strong><%= messages[i].blog_title %></strong></p>
                    <p class="message-message"><%= messages[i].content %></p>
                    <div class="index-date-view-section">
                        <p class="message-details-date"><%= messages[i].created_at %></p>
                        <a class="message-view" href="message/<%=messages[i].id%>">view more >></a>
                    </div>

                </div>
                </li>
            <% } %>
        </ul>
        <footer class="footer">
            <p>© 2025 stdout — made by <a href="https://github.com/yourusername" target="_blank">gaurav</a></p>
            <div class="social-links">
                <a href="https://github.com/9ggaurav" target="_blank">GitHub</a>
                <a href="https://x.com/GauravRaut26834" target="_blank">X</a>
            </div>
        </footer>

    </body>
</html>